@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:wght@100;500;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*Scroll*/

#O_mnie,
#Usługi,
#Portfolio,
#Usługi,
#Kontakt {
  scroll-margin-top: 60px;
}

.section {
  @apply max-w-7xl mx-auto sm:px-10 px-6 min-h-screen;
}
.section_short {
  @apply max-w-7xl mx-auto sm:px-10 px-6 py-12 lg:py-24 z-0;
}

/* Navbar */

.nav {
  @apply max-w-7xl mx-auto sm:px-10 px-6  flex justify-between items-center py-4 bg-transparent;
}

.link {
  @apply p-3 last:pr-0 hidden lg:inline cursor-pointer;
}

.link-sidebar {
  @apply p-5 border-b-2 last:border-b-0 border-secondary-orange cursor-pointer;
}

.hover {
  @apply hover:text-primary-orange ease-linear duration-150;
}

.hamburger {
  @apply inline lg:hidden z-30;
}

.sidebar {
  @apply fixed w-full inset-y-0 right-0  h-screen bg-white z-10 flex justify-center items-center;
}

.sidebar-wrapper {
  @apply flex justify-center items-center text-center border-2 border-secondary-orange;
}

.bg-shadow {
  @apply bg-white shadow-[0_7px_29px_-21px_rgba(249,168,38,0.64)];
}

/* Hero section */

.hero {
  @apply relative flex justify-center lg:justify-between items-center flex-col lg:flex-row;
}

.hero_text {
  @apply min-w-full mb-10  lg:min-w-[42%] xl:min-w-[50%];
}

.background {
  @apply absolute bg-secondary-orange w-1/2 h-full left-0 z-[-10];
}

/* About section */

.about-container {
  @apply flex  flex-col lg:flex-row  mt-20 sm:mt-32;
}
/* Icons */

.down_arrow {
  @apply absolute m-auto left-0 right-0 bottom-10 w-8 h-8 lg:w-12 lg:h-12 xl:w-16 xl:h-16;
}

/* slider section */

.slider_animation {
  @apply mt-10 lg:mt-20 m-auto w-full overflow-hidden bg-transparent before:absolute
   before:left-0 before:top-0 before:z-[2] before:h-full before:w-[100px] before:bg-[linear-gradient(to_right,orange_0%,rgba(255,255,255,0)_100%)]
    before:content-[''] after:absolute after:right-0 after:top-0 after:z-[2] after:h-full after:w-[100px] 
    after:-scale-x-100 after:bg-[linear-gradient(to_right,orange_0%,rgba(255,255,255,0)_100%)] after:content-[''];
}

/* Texts*/

.primary_text {
  @apply text-2xl sm:text-5xl xl:text-7xl;
}
.secondary_text {
  @apply text-lg sm:text-3xl xl:text-5xl leading-5;
}

.tertiary_text {
  @apply text-base lg:text-base  xl:text-xl font-bold;
}

/*Buttons*/

.contact_button {
  @apply tertiary_text font-bold relative z-10 p-5 lg:p-5 after:z-[-1] 
  after:h-full after:w-full after:absolute after:top-[10px] transition-all
 hover:text-white after:duration-150 after:ease-in-out hover:after:top-0 hover:after:left-0
 after:bg-primary-orange after:left-[10px] bg-white border-2 border-black;
}

.portfolio_card {
  @apply tertiary_text font-bold relative z-10 p-5 lg:p-5 after:z-[-1] 
  after:h-full after:w-full after:absolute after:top-[-15px] transition-all
 hover:text-white after:duration-150 after:ease-in-out hover:after:top-0 hover:after:left-0
 after:bg-primary-orange after:left-[10px] bg-white border-2 border-black;
}

.icons_button {
  @apply relative p-3  hover:after:w-full  after:z-[-1] 
  after:absolute after:top-0 after:right-0 after:h-full 
  after:w-1/2 after:bg-primary-orange border-2 border-black
  transition-all  after:duration-150 after:ease-in-out  hover:fill-white;
}

/*Before*/

.hero_section_decoration {
  @apply before:bg-primary-orange before:w-[45%] before:h-16  sm:before:h-24  xl:before:w-64  xl:before:h-36  before:left-[-30px] content-[""] before:z-[-1] before:absolute;
}

.title_section_decoration {
  @apply before:bg-primary-orange before:w-[45%] before:h-8 sm:before:h-12 xl:before:w-64  xl:before:h-20 before:left-[-30px] content-[""] before:z-[-1]  before:absolute;
}
